@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import './variables.scss';

@font-face {
  font-family: 'PS-Kaldera';
  src: local('PS-Kaldera');
  src: url(~assets/fonts/PS-Kaldera-Regular.otf) format('otf');
}

html {
  body {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-color: $black-color;
    overflow: hidden;
    color: $white-color;

    a {
      display: block;
      text-decoration: none;
    }

    h1 {
      font-family: $title-font;
    }

    h2 {
      font-family: $title-font;
      color: $white-color;
      font-size: 4rem;
    }

    h3 {
      font-family: $body-font;
      font-size: 0.8rem;
      text-transform: uppercase;
      opacity: 0.5;
    }

    p {
      font-family: $body-font;
      font-size: 1rem;
      line-height: 25px;
    }
  }
  canvas.main-webgl {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }

  canvas.second-webgl {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  span.c-scrollbar_thumb {
    background-color: $white-color;
    opacity: 1;
    width: 3px;
    border-radius: 0px;
  }

  main {
    position: relative;
    z-index: 2;
  }
}
